__pycache__/
*.pyc
.env
venv/
*.wav
*.mp3
*.m4a
*.mp4
output/
.DS_Store
transcriptions/
*.log
*.egg-info/
dist/
build/
gopt/
macos_app/dmg_contents/
macos_app/build/
macos_app/dist/
l2arctic_release_v5.0/
web/uploads/
